body {
  background-color: rgb(246, 245, 245);
}

.nav-bar {
  display: flex;
  margin-left: 10%;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.items li {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  border: 1px solid rgb(181, 181, 181);
  width: 80%;
  padding: 6%;
  border-radius: 10px;
  background-color: rgb(242, 243, 243);
}

.nav-bar ul {
  display: flex;
  list-style: none;
}

#logo {
  height: 20%;
  width: 20%;
  border-radius: 100%;
}

.nav-bar ul li {
  color: rgb(9, 12, 12);
  padding: 4%;
  font-size: 28px;
  list-style: none;
  margin-left: 50%;
}

.nav-bar ul li:hover {
  color: rgb(0, 0, 0);
  padding: 4%;
  font-size: 28px;
  margin-left: 50%;
  text-decoration: underline;
}

.items {
  padding-top: 20px;
}

.items ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

header {
  padding-top: 20px;
  display: flex;
  height: 80px;
  align-items: center;
  margin-top: 20px;
}

.items li h3 {
  font-size: 30px;
}

img {
  width: 90%;
  height: 140px;
  object-fit: cover;
  border-radius: 50px;
}

.like-container {
  margin: auto;
  width: 100%;
  display: block;
  text-align: center;
  color: rgb(15, 56, 167);
  align-items: center;
}

.comments {
  width: fit-content;
  text-align: center;
  display: flex;
  padding: 2%;
  flex-direction: column;
  border: 1px solid hsl(260, 100%, 60%);
  border-radius: 5px;
  color: aliceblue;
  background-color: hsl(260, 100%, 60%);
}

.like-icon {
  width: 30px;
  height: 30px;
  color: rgba(255, 0, 0, 0.949);
}

footer {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  background-color: rgb(231, 231, 231);
  margin-top: 50px;
  border-top: 1px solid rgb(133, 133, 133);
  text-align: center;
}

footer h4 {
  display: flex;
  margin: auto;
}

.modal {
  display: none;
  width: 50%;
  margin: 5% 25%;
  min-height: 600px;
  top: 20px;
  position: fixed;
  background-color: aqua;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.cross-icon img {
  display: flex;
  width: 30px;
  height: 30px;
  margin: auto;
}
